@import "variables"

body
  margin: 0
  padding: 0

header
  position: relative
  width: 620px
  height: 70px
  margin: 0 auto 40px
  background-color: $orange
  border-radius: 0 0 $radius $radius
  h1
    height: 70px
    margin: 0
    padding: 0
    background: url("logo.png") 20px 50% no-repeat
    text-indent: -99999px
  a.log-in-out
    display: block
    opacity: 0
    position: absolute
    top: 16px
    right: 20px
    width: 60px
    padding: 10px
    line-height: 14px
    background: $orange
    border: 2px solid darken($orange, 10%)
    border-radius: $radius
    text-align: center
    color: darken($orange, 10%)
    text-decoration: none
    transition: all 0.2s ease-in-out
    &:hover
      background: darken($orange, 2%)
  &:hover
    a.log-in-out
      opacity: 1

section#content
  width: 620px
  margin: 0 auto
  &:after
    content: ""
    display: block
    clear: both
