$orange: #ee7a2b
$light-grey: #e4e4e4
$medium-grey: #c2c2c2
$dark-grey: #7e7e7e
$xlight-copy-grey: $medium-grey
$light-copy-grey: $dark-grey
$copy-grey: #313131

$avenir-regular: 'AvenirNextLTW01-Regular'
$avenir-regular-family: $avenir-regular, Helvetica Neue, Helvetica, sans-serif
$avenir-bold: 'Avenir Next LT W01 Bold'
$avenir-bold-family: $avenir-bold, Helvetica Neue, Helvetica, sans-serif

$radius: 4px
